{% load i18n %}
<section>
    <div class="container">
        <div class="row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
                  <li class="breadcrumb-item">
                    <a class="link-body-emphasis fw-semibold text-decoration-none" href="{% url 'index' %}">Парсинг сайтов</a>
                  </li>
                  {% if request.get_full_path != '/catalog/' %}
                  <li class="breadcrumb-item">
                    <a class="link-body-emphasis fw-semibold text-decoration-none" href="{% url 'catalog' %}">Каталог баз данных</a>
                  </li>
                  {% endif %}
                  <li class="breadcrumb-item active" aria-current="page">
                    {{ tovar.title }}
                  </li>
                </ol>
              </nav>
        </div>
    </div>
  </section>