<section>
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <div class="row align-items-center g-lg-5 py-5">
          <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Контактные данные для связи</h1>
            <span class="col-lg-10 fs-4" >
            <p>
                Позвоните нам <span class="badge text-bg-warning">8 800-801-00-00</span> мы расскажем как работает парсинг и попробуем помочь вам!
            </p>
            <p>или</p>
            Напишите нам на почту <span class="badge text-bg-warning">info@zetatech.ru</span>
        </span>
          </div>
          <div class="col-md-10 mx-auto col-lg-5">
            <form class="shadow p-4 p-md-5 border rounded-3 bg-body-tertiary">
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Ваше имя</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Ваш телефон</label>
              </div>
              <div class="checkbox mb-3">
                <label>
                  <input type="checkbox" value="remember-me"> Согласие на обработку данных
                </label>
              </div>
              <button class="w-100 btn btn-lg btn-warning shadow" type="submit">Отправить заявку</button>
              <hr class="my-4">
              <small class="text-body-secondary">Нажав кнопку "Отправить заявку", вы соглашаетесь с условиями использования.</small>
            </form>
          </div>
        </div>
      </div>
</section>