<footer class="bg-dark shadow-lg text-white">
    <div class="container">
        
          <div class="row">
            <div class="col-6 col-md-2 mb-3">
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="{% url 'index' %}" class="nav-link p-0 text-white">Главная</a></li>
                <li class="nav-item mb-2"><a href="{% url 'catalog' %}" class="nav-link p-0 text-white">Бесплатные базы</a></li>
                <li class="nav-item mb-2"><a href="{% url 'offer' %}" class="nav-link p-0 text-white">Оферта</a></li>
                <li class="nav-item mb-2"><a href="{% url 'faq' %}" class="nav-link p-0 text-white">Вопросы и ответы</a></li>
                <li class="nav-item mb-2"><a href="{% url 'contact' %}" class="nav-link p-0 text-white">Контакты</a></li>
              </ul>
            </div>
      
            <div class="col-6 col-md-2 mb-3">
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">О Нас</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Вакансии</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Блог</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Глоссарий</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Цены на парсинг</a></li>
              </ul>
            </div>
      
            <div class="col-6 col-md-2 mb-3">
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Ютуб</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Телеграмм</a></li>
              </ul>
            </div>
      
            <div class="col-md-5 offset-md-1 mb-3">
                <address>
                    <strong>ZETATECH</strong><br>
                    ИНН: 892479998998 <br>
                    Санкт-Петербург,<br>
                    Кудрово, ул Пражская 4
                    <br>
                    <abbr title="Phone">P:</abbr> 8 800 100-78-90
                  </address>
                  <address>
                    <strong>Full Name</strong><br>
                    <a href="mailto:info@zetatech.ru">info@zetatech.ru</a>
                  </address>
            </div>
          </div>
          <span class="mb-3 mb-md-0 text-white">&copy; 2023 Company, Inc</span>
         
</footer>