<!-- castom lid form -->
<div class="col" style="margin: 30px 0;">
    <div class="card bg-body-tertiary">
      <div class="row g-0">
        <div class="col-md-5">
          <img src="https://silicon.createx.studio/assets/img/team/26.jpg" class="rounded-start" width="100%" alt="Ralph Edwards">
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <p>
              <form  method="POST" action="{% url 'callback' %}" class="p-4 p-md-12">
                {% csrf_token %}
                <div class="form-floating mb-3">
                <h5 class="card-title">Введите телефон, и мы перезвоним прямо сейчас!</h5>
              </div>
                <div class="form-floating mb-3">
                  {{ lid_tel_form.as_p }}
                  </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Отправить</button>
                <hr class="my-3">
                <small class="text-body-secondary">
                  *Нажимая на кнопку, я даю свое согласие на обработку персональных данных и соглашаюсь
  с условиями политики конфиденциальности
                </small>
              </form>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- end castom lid form -->