<!-- Модальное окно -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Заказать обратный звонок</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
        </div>
        <div class="modal-body">
          <form method="POST" action="{% url 'modal_form' %}" class="p-4 p-md-5 rounded-3 bg-body-tertiary">
            {% csrf_token %}
            <div class="form-floating mb-3">
            {{ modal_form.as_p }}
            </div>
            <button class="w-100 btn btn-lg btn-warning shadow" type="submit">Отправить заявку</button>
            <hr class="my-4">
            <small class="text-body-secondary">Нажав кнопку "Отправить заявку", вы соглашаетесь с условиями использования.</small>
          </form>
        </div>
       
      </div>
    </div>
  </div>