<section class="section-margint-top-min">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form action="{% url 'search' %}" method='GET' class="form-group mb-4">
                    <div class="d-flex flex-row justify-content-center">
                        <div class="input-group">
 <input name="q" class="form-control form-control-xl border" placeholder="Введите запрос который хотите найти" type="text" required="">
                    <div class="input-group-prepend">
                        <button type="submit" class="btn btn-secondary castum-botoom-search rounded-right">Поиск по сайту</button>
                    </div>
                </div>
            </div>
        </form>
            </div>
        </div>
    </div>
  </section>