<div class="flex-shrink-0 p-3" >

    <span class="fs-5 fw-semibold">КАТЕГОРИИ ПАРСИНГА</span>
  
  <ul class="list-unstyled ps-0">
    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
ИНТЕРНЕТ БАЗЫ КОМПАНИЙ
      </button>
      <div class="collapse" id="home-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          {% for i in sidebar %}
          <li><a href="{% url 'catalog_category' i.slug %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">{{ i.name }}</a></li>
          {% endfor %}
          
        </ul>
      </div>
    </li>
<!--
    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
          ПРИМЕРЫ ПАРСИНГА
      </button>
      <div class="collapse" id="dashboard-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">DIY</a></li>
          <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">FMCG</a></li>
          <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">АВИАКОМПАНИИ</a></li>
          <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">АВТО</a></li>
        </ul>
      </div>
    </li>
    -->
<!--
    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
          РЕЕСТРЫ
      </button>
      <div class="collapse" id="orders-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">РЕЕСТР АККРЕДИТОВАННЫХ ИТ-КОМПАНИЙ</a></li>
          <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">СПИСОК ВСЕХ КОМПАНИЙ РОССИИ</a></li>
          <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">БАЗА ПРОДАВЦОВ НА WB</a></li>
          <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">ВСЕ ДОМЕНЫ РОССИИ</a></li>
        </ul>
      </div>
    </li>
  -->
<!--
    <li class="border-top my-3"></li>
    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
        Account
      </button>
      <div class="collapse" id="account-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">New...</a></li>
          <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Profile</a></li>
          <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Settings</a></li>
          <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Sign out</a></li>
        </ul>
      </div>
    </li>
-->
  </ul>
</div>