{% extends 'base.html' %}
{% load static %}
{% block title %}Услуги парсинга и мониторинга цен! {% endblock %}
{% block description %}  Короткое о {% endblock %}



{% block content %}
<section>
    <div class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="{% static '/img/bootstrap-themes.png' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
            {% block h1%}Парсинг сайтов и мониторинг цен конкурентов!{% endblock %}
          </h1>
          <p class="lead">
            {% block min_content%}
            Для кого может полезна быть услуга:
            <ul>
              <li><b>Маркетологи и аналитики:</b> Парсинг сайтов может помочь маркетологам получить данные о конкурентах, анализировать рынок, отслеживать цены и товары, 
                а также собирать информацию о потенциальных клиентах.</li>
              <li><b>Бизнес-владельцы и предприниматели:</b> Парсинг сайтов может предоставить ценные сведения о товарах, ценах, конкуренции и других аспектах бизнеса, 
                что поможет принимать более осознанные решения.</li>
              <li><b>E-commerce компании:</b> Интернет-магазины могут использовать парсинг сайтов для мониторинга цен конкурентов, отслеживания наличия товаров, сбора отзывов клиентов и других данных, что поможет им оптимизировать свои стратегии продаж.</li>
              <li><b>Колл-центры и отделы продаж:</b> Сбор контактных данных других компаний для обзвона </li>
            </ul>
            {% endblock %}
          </p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button type="button" class="btn btn-warning btn-lg px-4 shadow me-md-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Заказать
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-margint-top-min">
      <div class="container">
          <div class="row mb-3">
              <div class="col-12 col-md-4">
                  <div class="card shadow-sm">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="{% static '/img/top-venok.png' %}" width="100%" class="header-img-margin">
                      </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">{% block pup_con1_h3 %}
                              Экспертиза и опыт:
                              {% endblock %}</h5>
                            <p class="card-text">
                              {% block pup_con1 %}
                              Наша команда проходила в обучение в Яндексе (есть диплом)
                              {% endblock %}
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>

              <div class="col-12 col-md-4">
                  <div class="card shadow-sm">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="{% static '/img/top-venok.png' %}" width="100%" class="header-img-margin">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">{% block pup_con2_h3 %}
                              Мониторинг и обновление:
                              {% endblock %}</h5>
                            <p class="card-text">
                              {% block pup_con2 %}
                              Обновляем данные которые парсим раз в сутки
                              {% endblock %}
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>

              <div class="col-12 col-md-4">
                  <div class="card shadow-sm">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="{% static '/img/top-venok.png' %}" width="100%" class="header-img-margin">
                      </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">{% block pup_con3_h3 %}
                              Доверие:
                              {% endblock %}</h5>
                            <p class="card-text">
                              {% block pup_con3 %}
                              Нам важна наша репутация и мы открытая компания, у нас есть youtub канал где мы показываем как парсим сайты.
                              {% endblock %}
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
            </div>
      </div>
  </section>

  <section class="section-margint-top bg-dark shadow-lg">
      <div class="container marketing">
          <div class="row featurette">
              <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading text-white">
                {% block scraping_content_h3 %}
                Что можно парсить
                {% endblock %}
              </h2>
              <div class="lead text-white">
                <em>
                {% block scraping_content_author %}
                Парсинг можно применять для сбора и анализа различных типов данных и это законно если не собирать персональные данные физических лиц:
<p>
1) Текстовую информацию: Вы можете собирать текстовую информацию с веб-страниц, 
такую как новости, статьи, блоги, отзывы и другие текстовые данные.
</p>
<p>
2) Структурированную информацию: Можно парсить структурированные данные, такие как таблицы, графики, расписания, 
контактные данные и другую информацию, представленную в упорядоченном формате.
</p>
<p>
3) Изображения и медиа-файлы: Парсинг позволяет извлекать изображения, видео, аудиофайлы и другие медиа-ресурсы, 
которые могут быть полезными для анализа или использования в других приложениях.
</p>
<p>
4) Цены и товары: Парсинг может быть использован для сбора информации о ценах, 
характеристиках товаров, наличии и других данных, связанных с электронной коммерцией.
</p>
В целом, практически любые данные, представленные на веб-страницах, могут быть собраны и обработаны с помощью парсинга, 
что позволяет получать ценную информацию для различных целей и задач.
                {% endblock %}
                  </em>
      
      
                  </div>
              </div>
              <div class="col-md-5 order-md-1">
                  <figure class="figure">
                  <img src="{% static '/img/mean-director.png' %}" class="rounded-3" width="100%"/>
                  <figcaption class="figure-caption min-img-description">Руководитель ZETATECH Андрей Александрович.</figcaption>
              </figure>
              </div>
          </div>
        </div>
  </section>

{% include "include/team.html" %}

{% include "include/example_bd.html" %}

{% include "include/contact_form.html" %}

{% endblock %}