{% extends 'base.html' %}
{% load static %}
{% block title %}Контакты {% endblock %}
{% block description %} Описание о контактов {% endblock %}
{% block content %} 
<section class="bg-light">
    <div class="container">
        <div class="row bg-white">
            <div class="col-md-10 offset-md-1 left-right-content-padding">
                <span class="section-margint-top-min"></span>
               <h1 class="h1">Оферта</h1>
               <span class="fw-light">
<p>
                Редакция от 10.11.2022
Настоящая публичная оферта на заключение лицензионного договора (далее — Соглашение) адресована физическим и-или юридическим лицам, и является официальным публичным предложением Общества с ограниченной ответственностью «Мониторинг Цен» (далее — Администрация) заключить договор на предоставление доступа к сервису на сайте «XMLDATAFEED.COM» (далее – Сервис).
</p>
Используя Сервис, вы принимаете обязательство полностью и безоговорочно соблюдать Соглашение на изложенных условиях. В случае, если Вы не согласны с условиями данного Соглашения, Вам следует прекратить использование Сервиса в каких бы то ни было целях.

1. ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ

Для целей Соглашения используются следующие термины и определения:

1.1. Сервис – интернет-ресурс (сайт) «XMLDATAFEED.COM» включающий в себя Сайт, а также серверную часть, предназначенный для получения результатов обработки направляемых Пользователями запросов на скачивание готовой информации (базы данных компаний, примеры парсинга и т.п.) с Интернет-ресурса в соответствии с функционалом Сервиса. Сервис размещён в сети Интернет сайте по адресу: xmldatafeed.com

1.2. Пользователь – физическое лицо, индивидуальный предприниматель или юридическое лицо, зарегистрированное в Сервисе, принявшее условие настоящего Соглашения и использующие функционал
Сервиса.

1.3. Администрация – ООО «МОНИТОРИНГ ЦЕН», а также его уполномоченные представители Администрации. Реквизиты Администрации приведены в конце Соглашения.

Администрация (Лицензиар) предоставляет Пользователю (Лицензиату) право использования Сервиса на условиях неисключительной лицензии. Администрация осуществляет доведение до всеобщего сведения, распространение, оперирование, обслуживание, администрирование Сервиса.

1.4. Тариф (цена, прайс) – стоимость доступа к отдельным функциям Сервиса.

1.5. Личный кабинет Пользователя (далее – «Личный кабинет») – персональный раздел Сервиса, созданный для конкретного Пользователя, доступ к которому возможен только при вводе Учетных данных.

1.6. Учетные данные – уникальный логин и пароль Пользователя, создаваемый Пользователем в процессе регистрации в Сервисе, используемые для доступа Пользователя в Личный кабинет. Учетные данные в совокупности признаются Сторонами средством простой электронной подписи и аналогом собственноручной подписи Пользователя при заключении Соглашения и при совершении иных действий с использованием Сервиса.

2. ОБЩИЕ ПОЛОЖЕНИЯ

2.1. Соглашение регулирует отношения между Администрацией и Пользователем, возникающие при использовании Сервиса на указанных в Соглашении условиях.

2.2. Соглашение является публичной офертой в соответствии со ст. 437 Гражданского кодекса Российской Федерации и представляет собой предложение, содержащее все существенные условия договора, из которого усматривается воля Администрации, делающей предложение Пользователю заключить лицензионный договор в отношении использования Сервиса на предложенных Администрацией условиях.

2.3. Полное и безоговорочное принятие Соглашения со стороны Пользователя осуществляется Пользователем при регистрации в Сервисе и-или формировании запроса на получение любых данных с Сервиса. В случае акцепта настоящей оферты, между Сторонами заключается лицензионный договор в электронной форме на основании п. 2 ст. 434 и п. 3 ст. 438 Гражданского кодекса Российской Федерации.

2.4. Осуществляя доступ к Сервису и заключая таким образом Соглашение, Пользователь гарантирует, что обладает всеми правами и полномочиями, необходимыми для заключения и исполнения Соглашения.

2.5. Соглашение может быть изменено Администрацией в любое время без какого-либо специального уведомления об этом Пользователя. Новая редакция Соглашения вступает в силу с момента ее размещения на Сайте, если Администрацией прямо не указано иное. Регулярное ознакомление с действующей редакцией Соглашения является обязанностью Пользователя. Актуальная редакция Соглашения размещена в сети Интернет по следующему адресу: https://xmldatafeed.com/offerta/

2.6. Продолжение использования Сервиса Пользователем после внесения изменений в условия настоящего Соглашения означает согласие и принятие Пользователем таких изменений.

2.7. Все объекты, доступные при помощи функций и возможностей Сервиса, в том числе элементы дизайна, текст, графические изображения, иллюстрации, видео, программы для ЭВМ, базы данных компаний, музыка, звуки и другие объекты, а также любой контент, размещенный в Сервисе, являются объектами исключительных прав Администрации.

2.8. Никакие положения настоящего Соглашения не предоставляют Пользователю право на использование логотипа, фирменного наименования, товарных знаков, доменных имен и иных отличительных обозначений Администрации.

3. ПРЕДМЕТ СОГЛАШЕНИЯ

3.1. Администрация предоставляет Пользователю, действующую во всем мире, безвозмездную, непередаваемую, неисключительную, отзывную и не подлежащую сублицензированию лицензию на доступ и использование функций Сервиса доступных Пользователю. В случаях, предусмотренных настоящим Соглашением, отдельные функции (возможности) Сервиса предоставляются платно. Пользователь по настоящему Соглашению является Лицензиатом по смыслу статьи 1235 Гражданского кодекса РФ.

3.2. Сервис представляет собой электронный интернет-справочник (каталог, база) сайтов, юридических лиц и индивидуальных предпринимателей.

3.3. Пользователь понимает и принимает, что Сервис носит исключительно информационный характер. Администрация не оказывает услуг по получению информации о частной жизни третьих лиц (включая персональные данные).

3.4. Под действие настоящего Соглашения подпадают все существующие (работающие) на данный момент функции Сервиса, а также любые их последующие модификации и появляющиеся в дальнейшем новые функции Сервиса.

4. РЕГИСТРАЦИЯ ПОЛЬЗОВАТЕЛЯ

4.1. Для использования функций Сервиса Пользователю необходимо пройти процедуру регистрации, в результате которой для Пользователя создается уникальный Личный кабинет.

4.2. Для регистрации Пользователь обязуется предоставить достоверную и полную информацию о себе по вопросам, предлагаемым в форме регистрации, и поддерживать эту информацию в актуальном состоянии. Если Пользователь предоставляет неверную информацию или у Администрации есть основания полагать, что предоставленная Пользователем информация неполна или недостоверна, Администрация имеет право по своему усмотрению заблокировать либо удалить учетную запись Пользователя и отказать Пользователю в использовании Сервиса.

4.3. Регистрация Пользователя в Сервисе является бесплатной, добровольной и производится в соответствующем разделе Сервиса. При регистрации Пользователь предоставляет адрес электронной почты, а также может указать пароль.

4.4. В случае утраты Пользователем пароля, указанного при регистрации в Сервисе, Пользователь обязан создать новый пароль через функционал Сервиса.

4.5. Пользователь обязан следить за сохранностью своих Учетных данных, и не раскрывать их третьим лицам. Пользователь не вправе передавать свои Учетные данные третьим лицам, а также прямо или косвенно разрешать третьим лицам использовать его Учетные данные для доступа к Личному кабинету.

5. ПРАВА И ОБЯЗАННОСТИ СТОРОН

5.1. Администрация в праве:

5.1.1 Модифицировать Сервис по своему усмотрению, в том числе добавлять новые функции или вносить улучшения, а также удалять некоторые функции. Если такие действия не оказывают существенного влияния на права или обязанности Пользователей, Администрация имеет право не уведомлять Пользователей о выполнении таких действий.

5.1.2. Полностью приостановить предоставление доступа к Сервису, с предварительным уведомлением Пользователей, либо без него.

5.1.3. В любое время изменять стоимость Тарифов, установленных для оплаты функций Сервиса.

5.1.4. Получать плату за отдельные функции Сервиса, предусмотренные настоящим Соглашением, предоставляемые Администрацией в соответствии с настоящем Соглашением.

5.1.5. Блокировать Личный кабинет Пользователя в случае нарушения им условий настоящего Соглашения или получения требования об этом от уполномоченных государственных органов или суда.

5.1.6. Ограничивать доступ к любой информации в Сервисе в случае нарушения условий настоящего Соглашения, а также по требованию уполномоченных государственных органов или суда.

5.1.7. Использовать информацию о Пользователе, опубликованную Пользователем в Сервисе и (или) переданные с помощью Сервиса для целей таргетирования рекламных сообщений, разработки рекламных материалов, демонстрации рекламных материалов в Сервисе и на сайтах партнеров Администрации, а также в других целях, необходимых для функционирования Сервиса.

5.1.8. Направлять информационную, рекламную и иную рассылку в личный кабинет Пользователя в Сервисе, на адрес электронной почты, указанный Пользователем и номера телефона, указанные Пользователем.

5.1.9. Изменять, отменять настоящее Соглашение и иные документы, размещенные на Сервисе. Изменения вступают в силу с момента публикации новой редакции Соглашения и иных документов, размещенных в Сервисе.

5.1.10. Собирать, анализировать, использовать информацию о Пользователях, содержащуюся в Сервисе, включая, но, не ограничиваясь, информацией о контактных и личных данных Пользователей, информацией о действиях Пользователей в Сервисе и т.д. согласно Политике в отношении обработки персональных данных.

5.1.11. Предоставить доступную информацию о Пользователях уполномоченным на то органам государственной власти и суду по их запросу в случаях, установленных законом.

5.1.12. Администрация оставляет за собой право в любой момент потребовать от Пользователя подтверждения данных, указанных при регистрации, в Личном кабинете Пользователя, и (или) запросить подтверждающие документы (в частности — документы, удостоверяющие личность, ИНН, учредительные документы, договор аренды помещения и т.п.), непредставление которых, по усмотрению Администрации, может быть приравнено к предоставлению недостоверной информации и повлечь последствия, предусмотренные Соглашением. В случае если данные Пользователя, указанные в предоставленных им документах, не соответствуют данным, указанным в Личном кабинете Пользователя, Администрация вправе отказать Пользователю в доступе к Личному кабинету и/или использовании отдельных функций Сервиса. Пользователь обязан предоставлять всю запрашиваемую Администрацией информацию и документы в срок, указанный Администрацией.

5.1.13. Настоящим Соглашением могут быть предусмотрены другие права Администрации.

5.2. Администрация обязуется:

5.2.1. Предоставить доступ к Сервису при выполнении Пользователем соответствующих условий, предусмотренных условиями настоящего Соглашения.

5.2.2. Предпринимать разумные меры к защите персональных данных Пользователя, а также иной охраняемой законом информации в соответствии с Политикой в отношении обработки персональных данных.

5.2.3. Предоставить доступную информацию о Пользователя уполномоченным на то органам государственной власти и суду по их запросу в случаях, установленных законодательством Российской Федерации.

5.2.4. Настоящим Соглашением могут быть предусмотрены другие обязанности Администрации.

5.3. Пользователь в праве:

5.3.1. Использовать функционал Сервиса в соответствии с условиями настоящего Соглашения.

5.3.2. Добавлять информацию о компании Пользователя посредством функций Сервиса в соответствующий раздел Сервиса доступную другим Пользователям. Пользователь несет ответственность за предоставленную информацию.

5.3.3. Просматривать информацию о компаниях, добавленную другими пользователями. Администрация не несет ответственность за данную информацию.

5.3.4. Получать достоверную информацию о работе Сервиса.

5.3.5. Обращаться к Администрации Сервиса посредством функций Сервиса, а при отсутствии такой возможности обращаться к Администрации по адресу электронной почты info@xmldatafeed.com с целью прояснения технических и иных возникающих вопросов по работе с Сервисом.

5.3.6. Пользователь имеет право доступа к персональным данным и имеет право на исправление, удаление данных, ограничение их обработки в соответствии с условиями настоящего Соглашения и Политики в отношении обработки персональных данных.

5.3.7. Настоящим Соглашением могут быть предусмотрены другие права Пользователей.

5.4. Пользователь обязуется:

5.4.1. Обеспечить достоверность предоставляемой информации, указанной Пользователем при регистрации или после в Личном кабинете Пользователя, а также информации о компании Пользователя, добавленной самим Пользователем с использованием функций Сервиса в соответствующий раздел Сервиса, доступной другим Пользователям.

5.4.2. Обеспечивать сохранность Учётных данных, необходимых для входа в Сервис от доступа третьих лиц. Не передавать третьим лицам в пользование свой Личный кабинет.

5.4.3. Обновлять данные, указанные при регистрации или в Личном кабинете Пользователя, в случае их изменения.

5.4.4. Обновлять данные, указанные Пользователем о компании Пользователя, в случае их изменения.

5.4.5. Подробно ознакомиться со всеми условиями настоящего Соглашения и принять их при совершении регистрации в Сервисе, а также все дополнительные правила, регулирующие отношения сторон, размещенные в Сервисе.

5.4.6. Соблюдать положения действующего законодательства Российской Федерации и настоящего Соглашения.

5.4.7. Не копировать, не изменять, не создавать производные работы, не распространять (в том числе путем продажи) в коммерческих или иных целях любую информацию, полученную в Сервисе, в том числе размещенную в Сервисе или переданную с использованием Сервиса другими Пользователями, любые объекты охраняемые авторским правом, изображения, товарные знаки, фирменные наименования, знаки обслуживания или другую интеллектуальную собственность, какие-либо материалы или служебную информацию, доступную через Сервис без письменного разрешения правообладателя. Соблюдать имущественные и неимущественные права Администрации и иных правообладателей при использовании Сервиса.

5.4.8. Не использовать Сервис для размещения/распространения информации, материалов или данных, содержащих вирусы или другие вредоносные компьютерные коды, файлы или программы, предназначенные для нарушения, уничтожения либо ограничения функциональности любого компьютерного или телекоммуникационного оборудования или программ, для осуществления несанкционированного доступа, а также серийные номера к коммерческим программным продуктам и программы для их генерации, логины, пароли и прочие средства для получения несанкционированного доступа к платным ресурсам в сети Интернете, а также размещения ссылок на вышеуказанную информацию.

5.4.9. Не загружать, не хранить, не публиковать, не распространять и не предоставлять доступ или иным образом использовать любую информацию, которая:

5.4.9.1. включает персональные данные третьих лиц, без их согласия;

5.4.9.2. пропагандирует и/или способствует разжиганию расовой, религиозной, национальной, этнической ненависти или вражды;

5.4.9.3. пропагандирует культ насилия и жестокости;

5.4.9.4. содержит экстремистские материалы;

5.4.9.5. содержит порнографию и/или тексты или сцены сексуального характера;

5.4.9.6. пропагандирует преступную деятельность или содержит советы, инструкции или руководства по совершению преступных действий;

5.4.9.7. пропагандирует или описывает привлекательность употребления наркотических веществ, информацию о распространении наркотиков, рецепты их изготовления и советы по употреблению;

5.4.9.8. нарушает неприкосновенность частной жизни других Пользователей или третьих лиц;

5.4.9.9. порочит честь, достоинство, деловую репутацию других лиц;

5.4.9.10. содержит информацию ограниченного доступа, включая, но, не ограничиваясь, государственной и коммерческой тайной, информацией о частной жизни третьих лиц;

5.4.9.11. носит мошеннический характер;

5.4.9.13. нарушает другие права третьих лиц, в том числе интеллектуальные права;

5.4.9.14. нарушает действующее законодательство Российской Федерации.

5.4.10. Не исследовать, не сканировать и не тестировать уязвимость Сервиса, любой системы или сети. Не пытаться обойти ограничения, установленные Сервисом.

5.4.11. Самостоятельно оценивать содержание размещаемой/распространяемой информации на соответствие требованиям действующего законодательства и настоящего Соглашения;

5.4.12. Не использовать Сервис для сбора, хранения и распространения персональных данных других лиц без их согласия.

5.4.13. Не нарушать нормальной работы Сервиса.

5.4.14. Не пытаться каким-либо образом получить доступ к Личному кабинету другого Пользователя.

5.4.15. Не распространять с использованием Сервиса любую конфиденциальную и охраняемую законодательством Российской Федерации информацию о физических или юридических лицах.

5.4.16. Не указывать данные третьих лиц с намерением выдать себя за другого человека (организацию).

5.4.17. Уважительно относиться к другим Пользователям. Не употреблять в Сервисе нецензурную лексику, не оскорблять других Пользователей.

5.4.18. Настоящим Соглашением могут быть предусмотрены другие обязанности Пользователя.

6. СТОИМОСТЬ ДОСТУПА К ОТДЕЛЬНЫМ ФУНКЦИЯМ СЕРВИСА

6.1. Пользователь оплачивает Администрации доступ к отдельным функциям Сервиса в соответствии с Тарифами (стоимостью баз компаний). Администрация в одностороннем порядке устанавливает стоимость Тарифов для оплаты отдельных функций Сервиса. Следующие функции Сервиса предоставляются Пользователям платно:

6.1.1. Скачивание с Сервиса информации, предоставленной Администрацией Сервиса.

6.2. Оплата доступа к функциям указанным в настоящем Соглашении производится Пользователем в российских рублях в безналичном порядке путем безналичного перевода на расчетный счет Администрации посредством предоставления платежной системе данных своей банковской карты или банковского счёта с последующим подтверждением перевода в пользу Администрации.

6.3. Доступ к функциям предоставляется Пользователю на условиях предварительной оплаты. Пользователь производит авансовый платеж в размере 100% (ста процентов) от стоимости функции Сервиса.

6.4. Обязательства Администрации по предоставлению доступа к функциям, указанным в п. 7.1 настоящего Соглашения, считаются исполненными с момента предоставления доступа к соответствующей функции. Неиспользование предоставленного Доступа к функции Сервиса, а также отказ от ее использования в дальнейшем не влечет изменение стоимости оплаченной функции Сервиса.

7. ОТВЕТСТВЕННОСТЬ

7.1. Услуги Сервиса предоставляются по принципу «как есть». Администрация не гарантирует, что Сервис не содержит ошибок, а также не несет ответственности за прямые или косвенные убытки (ущерб), включая упущенную выгоду, потерю конфиденциальной информации, возникшие у Пользователя в результате использования Сервиса, в том числе из-за возможных ошибок или опечаток в Сервисе. Администрация не гарантирует, что Сервис будет соответствовать требованиям Пользователя, а также не гарантирует работоспособность Сервиса совместно с программами и оборудованием других изготовителей. Администрация не дает никаких гарантий относительно составляющих других программ, которые могут включаться в Сервис и являются собственностью третьих лиц. Администрация не гарантирует, что услуги Сервиса будут соответствовать ожиданиям Пользователя и будут предоставляться бесперебойно и безошибочно.

7.2. Администрация ни при каких условиях не несет ответственность за действия Пользователей в Сервисе, в том числе за нарушения законодательства о персональных данных.

7.3. Администрация не гарантирует, что Сервис будет работать беспрерывно и безошибочно. В случае наличия ошибок и неисправностей Администрация обязуется устранить их в возможно кратчайшие сроки.

7.4. Пользователь соглашается с тем, что любая передача любой информации по сети Интернет, в том числе по защищенным каналам связи в зашифрованном виде, не может быть гарантированно защищена от несанкционированного доступа к ней третьим лицам. В связи с этим Сервис не несет ответственности за любой ущерб, причиненный Пользователю вследствие несанкционированного доступа третьих лиц к информации Пользователя.

7.5. Администрация имеет право распоряжаться статистической информацией, связанной с функционированием Сервиса, а также информацией Пользователей для обеспечения адресного показа рекламной информации различным аудиториям Пользователей Сайта. Для целей организации функционирования и технической поддержки Сервиса и исполнения Соглашения Администрация имеет техническую возможность доступа к Личным кабинетам Пользователей, которую реализует только в случаях, установленных Соглашением.

7.6. Администрация имеет право направлять Пользователю информацию о развитии Сервиса и его функционала, а также рекламировать собственную деятельность. Администрация не несет ответственности перед Пользователем или перед любыми третьими лицами за сбой, косвенный,
случайный, неумышленный ущерб, включая упущенную выгоду или потерянные данные, вред чести, достоинству или деловой репутации, вызванный в связи с использованием Сервиса, содержимого Сервиса или иных материалов, к которым Пользователи или иные лица получили доступ с помощью Сервиса.

8. СРОК ДЕЙСТВИЯ И ПОРЯДОК РАСТОРЖЕНИЯ

8.1. Соглашение вступает в силу с момента его акцепта Пользователем и действует до даты принятия новой редакции Соглашения.

8.2. Администрация вправе без предварительного уведомления Пользователя в случае нарушения Пользователем любого условия настоящего Соглашения расторгнуть его путем прекращения доступа к
Личному кабинету Пользователя.

8.3. Пользователь может отказаться от условий настоящего Соглашения путем отправки запроса на удаление своего Личного кабинета Администрации посредством функций Сервиса, а при отсутствии
такой возможности обратившись к Администрации по адресу электронной почты info@xmldatafeed.com.

9. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ

9.1. В случае возникновения споров или разногласий, связанных с соблюдением настоящего Соглашения, Пользователь и Администрация приложат все усилия, чтобы решить их с помощью переговоров. Сторона, у которой возникли претензии и/или разногласия, направляет другой Стороне сообщение с указанием возникших претензий и/или разногласий.

9.2. Получатель претензии в течение 30 (тридцати) календарных дней со дня ее получения, письменно уведомляет заявителя претензии о результатах рассмотрения претензии.

9.3. При невозможности разрешить спор в добровольном порядке, любая из Сторон вправе обратиться в суд за защитой нарушенных прав.

9.4. Споры между Пользователем и Администрацией рассматриваются по месту нахождения Администрации.

9.5. В случае, если любые положения настоящего Соглашения окажутся не подлежащими применению, такие положения будут применяться в возможных пределах, наиболее соответствующих, по мнению
Администрации, намерениям Сторон, а остальные положения Соглашения сохранят свою силу.

9.6. В остальном, что не предусмотрено настоящим Соглашением, Стороны будут руководствоваться действующим законодательством Российской Федерации.

9.7. В случае, если какие-либо условия настоящего Соглашения будут признаны утратившими юридическую силу и не подлежащими исполнению, остальные условия настоящего Соглашения сохраняют свою юридическую силу и подлежат исполнению.

9.8. Обмен сообщениями и документами, связанными с исполнением настоящего Соглашения, осуществляется обменом электронными сообщениями с использованием функций и возможностей Сервиса. В случае отсутствия у Пользователя возможности использовать функционал Сервиса Пользователь может написать Администрации по адресу электронной почты info@xmldatafeed.com

РЕКВИЗИТЫ АДМИНИСТРАЦИИ

ООО “МОНИТОРИНГ ЦЕН”, ИНН 7813229826, КПП 781001001, ОГРН 1157847301842, +7 (495) 215-53-16 +7 (812) 748-20-96

Юридический адрес: Россия 196135, г. Санкт-Петербург, пр. Юрия Гагарина, дом 28/2, литер А, кв. 75

Р/С 40702810432530000183 В ФИЛИАЛ “САНКТ-ПЕТЕРБУРГСКИЙ” АО”АЛЬФА-БАНК” К/cч. 30101810600000000786, БИК 044030786

Почтовый адрес: Россия 196084, Санкт-Петербург, ул. Заозерная, дом №8, корпус 2, Литера А, БЦ “ЗАОЗЕРНЫЙ”, офис 212 (2 этаж) в компанию “НОТИССИМУС”

Генеральный директор Маркович А.В
               </span>     
            </div>
        </div>
    </div>
</section>
{% endblock %}